body {
    margin: 0;
    font-size: 16px;
    background: rgb(1, 69, 1);}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box {
    /* text-align: center; */
    max-width: 700px;
    background-color: azure;
    margin: 40px auto;
    padding: 15px;
    border-radius: 10px;
    animation: rght .5s ease forwards;
}
@keyframes rght {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.custom-box::after,
.custom-box::before {
    content: "";
    clear: both;
    display: table;
}
.custom-box.hide {
    display: none;
}
.home-box h3{
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 22px;
    color: black;
}
.home-box p span {
    font-weight: 500;
}

.home-box .btn {
    margin-top: 20px;
}
.home-box .btn a {
    text-decoration: none;
    color: azure;
}
.btn {
    padding: 15px 45px;
    background-color: rgb(1, 69, 1);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}



.quiz-box .answer-indicator,
.quiz-box .option-container,
.quiz-box .question-text,
.quiz-box .question-number,
.quiz-box .next-question-btn {
    width: 100%;
    float: left;
}

.quiz-box .question-number {
    font-size: 18px;
    color: rgb(1, 69, 1);
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .question-text {
    font-size: 22px;
    color: black;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}
.quiz-box .question-text img {
    max-width: 100%;
    display: block;
    margin-top: 15px;
}
.quiz-box .option-container .option {
    background-color: #cccccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 0;
    cursor: pointer;
    /* text-transform: tit; */
    animation: fadeIn 0.3s forwards;
    position: relative;
    overflow: hidden;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.quiz-box .option-container .option.correct::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    animation: slideInLeft .5s ease forwards;
    z-index: -1;
}

.quiz-box .option-container .option.correct {
    color: azure;
}
.quiz-box .option-container .option.wrong::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}


.quiz-box .btn {
    margin: 10px 0;
}
.quiz-box .answer-indicator {
    border-top: 1px solid #000;
}
.quiz-box .answer-indicator div {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.quiz-box .answer-indicator div.correct{
    background: green;
    clip-path: polygon(38% 71%, 13% 43%, 0 50%, 18% 71%, 38% 92%, 54% 76%, 62% 68%, 70% 60%, 84% 45%, 98% 30%, 86% 19%, 38% 70%);
    animation: greenShadow .5s ease forwards;
}
@keyframes greenShadow {
    0% ,100%{
        box-shadow: none;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 10px 10px green;
        transform: scale(0);
    }
}
.quiz-box .answer-indicator div.wrong {
    background: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    animation: redShadow .5s ease forwards;

}
@keyframes redShadow {
    0% ,100%{
        box-shadow: none;
        transform: scale(1);

    }
    50% {
        box-shadow: 0 0 10px 10px red;
        transform: scale(0);

    }
}







.result-box {
    text-align: center;
}
.result-box h1 {
    font-size: 36px;
    line-height: 42px;
    color: #009688;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{
    border: 1px solid silver;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    text-align: left;
    font-size: 18px;
    width: 50%;
}
.result-box .btn {
    margin-right: 20px;
}











@media (max-width:767px){
    .result-box .btn {
        margin-bottom: 15px;
    }
    body {
        padding: 15px;
    }
}